/* ==========================================================================
article
========================================================================== */


.article { font-size: var(--font-size-base); }

.article__prompt { position: relative; }

@media only screen and (min-width: 1024px) {
  .article { margin-left: 35vw; }

  .article__prompt {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    width: 35vw;
  }
}

.article__body {
  position: relative;
  padding: 3rem;
  background: white;
  scroll-margin-top: var(--header-height);
}

.article__header {
  display: flex;
  position: sticky;
  top: var(--header-height);
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
  padding: 0 3rem;
}

.article__nav {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--line-height-rem);
  transform: skew(-5deg, -3deg);
}

.article__block-name {
  font-size: var(--font-size-md);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--hl-color-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.article__title {
  margin-bottom: var(--line-height-em);
  transform: skew(-5deg, -3deg);
  color: var(--hl-color-2);
  font-size: var(--font-size-xxl);
  line-height: 1;
  letter-spacing: -.025em;
  text-align: center;
}





/* ==========================================================================
article prompt
========================================================================== */

.prompt {
  box-sizing: border-box;
  display: flex;
  /* position: sticky; */
  /* top: var(--header-height); */
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  padding: 1rem;
  background-color: var(--color-5);
  font-size: var(--font-size-md);
  text-align: center;
}

.prompt__title {
  margin-bottom: var(--line-height-em);
  font-size: var(--font-size-base);
}

.prompt__list { font-weight: bold; }

.prompt__item + .prompt__item { margin-top: calc(var(--line-height-em) * .5); }





/* ==========================================================================
article poster
========================================================================== */

.article__poster {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--line-height-em);
}

.article__poster img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  /* object-position: left; */
  background-color: var(--color-3);
}

.article__poster figcaption {
  padding-top: .5em;
  padding-left: .5em;
  border-left: 2px solid;
  color: var(--hl-color);
  font-size: var(--font-size-sm);
  hyphens: auto;
}





/* ==========================================================================
Toc
========================================================================== */

.toc {
  z-index: 1;
  position: sticky;
  /* top: var(--header-height); */
  top: calc(100vh - var(--toc-height));
  padding: 1rem;
  background-color: var(--hl-color-2);
  color: white;
}

.toc__list {
  display: flex;
  justify-content: space-evenly;
}

.toc__link:hover {
  color: var(--color-5);
}





/* ==========================================================================
Sidebar
========================================================================== */

.sidebar__container {
  margin-top: var(--line-height-em);
  margin-bottom: var(--line-height-em);
  padding: calc(var(--line-height-rem) * 2);
  border-top: var(--border-width) solid;
  border-left: var(--border-width) solid;
  border-color: var(--color-2);
  background-color: var(--color-3);
  /* font-size: var(--font-size-sm); */
  hyphens: auto;
  scroll-margin-top: var(--header-height);
}

.sidebar__title {
  font-size: var(--font-size-md);
  list-style: none;
}

.sidebar__title:after {
  float: right;
  content: '↦';
  text-align: right;
  cursor: pointer; 
}

.sidebar__container[open] .sidebar__title:after { content: '↧'; }

.sidebar__container[open] .sidebar__title { margin-bottom: var(--line-height-em); }

.sidebar figcaption {
  padding-top: .5em;
  padding-left: .5em;
  border-left: 2px solid;
  color: var(--hl-color);
  font-size: var(--font-size-sm);
  hyphens: auto;
}





/* ==========================================================================
section
========================================================================== */

.section {
  position: relative;
  width: 100%;
  padding: calc(var(--line-height-em) * 2) 3rem;
  transform: translateX(-3rem);
  font-size: var(--font-size-sm);
  hyphens: auto;
  scroll-margin-top: var(--header-height);
  background-color: var(--color-3);
}

.content > .section:nth-of-type(even) { background-color: white; }

.content > .section:first-of-type { margin-top: var(--line-height-em); }

.section__title { font-size: var(--font-size-md); }

.section__title { list-style: none; 
  cursor: pointer; 

}

.section__title:after {
  float: right;
  content: '↦';
  text-align: right;
}

.section__title h2 { display: inline; }

.section[open] .section__title { margin-bottom: var(--line-height-em); }

.section[open] .section__title:after { content: '↧'; }





/* ==========================================================================
embeds
========================================================================== */

.embed-container {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 75%;
}

.embed-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}





/* ==========================================================================
References
========================================================================== */

.references {
  margin-top: var(--line-height);
  padding-top: var(--line-height);
  border-top: 1px solid;
}

.references ul { margin-left: calc(var(--line-height) * 2); }

.references li { text-indent: calc(var(--line-height) * -2); }

.footnote {
  max-width: 50%;
  font-size: var(--font-size-sm);
}

.footnote hr { display: none; }

.footnote li + li { margin-top: var(--line-height-em); }

.ref {
  margin-bottom: var(--line-height-em);
  font-size: var(--font-size-base);
}

.ref figcaption {
  max-width: 35em;
  padding-top: .5em;
  color: var(--hl-color);
  font-size: var(--font-size-sm);
  hyphens: auto;
}

.ref figcaption::before {
  display: block;
  float: left;
  transform: scaleX(-1);
  content: "↵";
}

.ref figcaption p { padding-left: 3em; }

mark {
  background-color: var(--color-5);
  color: inherit;
}

mark:target {
  animation: blink 1s;
  animation-iteration-count: 3;
}

@keyframes blink { 
  50% {
    background-color: var(--hl-color-2);
  }
}



.headerlink { color: var(--color-2); margin-left: .5em; }
.archived { color: var(--color-2); font-size: 0.694444444em; vertical-align: top;  }


img {
  color: var(--hl-color);
  font-size: var(--font-size-sm);
}


/* .term-list { */
/*   /1* display: inline; *1/ */
/* } */
/* .term-list li { */
/*   /1* display: inline; *1/ */
/*   list-style-type: none; */
/* } */

.terms__page .footnote-ref {
  font-size: var(--font-size-base);
}

.footnote {
  padding-bottom: var(--line-height-em);
}

.content .terms__pages {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
}
