/* ==========================================================================
article content
========================================================================== */

.content h2 {
  margin-bottom: calc(var(--line-height) * var(--font-size-base));
  font-weight: bold;
  font-size: var(--font-size-md);
  scroll-margin-top: var(--header-height);
}

.content h3 {
  margin-top: calc(var(--line-height-em) * 1);
  margin-bottom: var(--line-height-em);
  /* font-weight: bold; */
  font-size: var(--font-size-md);
  scroll-margin-top: var(--header-height);
}

.content p + h2 { margin-top: calc(var(--line-height) * var(--font-size-base) * 2); }

.content p + p { margin-top: var(--line-height-em); }

.content blockquote {
  margin-top: var(--line-height-em);
  margin-bottom: var(--line-height-em);
  margin-left: calc(var(--line-height-em) * 4);
  padding-left: .5em;
  border-left: 2px solid var(--hl-color-2);
  font-style: italic;
}

.content blockquote p + p {
  margin-top: var(--line-height-em);
  text-indent: 0;
}

.content blockquote cite { font-style: normal; }

.content blockquote cite::before { content: "— "; }

.content ol { list-style-type: decimal; }

.content ol,
.content ul {
  margin-top: var(--line-height-em);
  margin-bottom: var(--line-height-em);
}

.content ol ol,
.content ol ul,
.content ul ul,
.content ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

.content ol ol,
.content ol ul,
.content ul ol,
.content ul ul { margin-left: var(--line-height-em); }

.content dl {
  margin-top: var(--line-height-em);
  margin-bottom: var(--line-height-em);
}

.content dt { font-weight: bold; }

.content dd { margin-left: 3em; }

.content ul li::before { content: "— "; }

.content a:not(.footnote-ref,.footnote-backref,.headerlink,.archived,.invidious a) {
  padding: 2px 5px;
  border: 1px solid;
  border-image: linear-gradient(transparent 60%, var(--hl-color-2) 60%);
  border-image-slice: 1;
  text-decoration-thickness: from-font;
}

.content a[href^="http"]:not(.archived)::before {
  margin-right: 0.25em;
  content: "↗";
  color: var(--hl-color-2);
}

.content figure a {
  padding: initial !important;
  border: initial !important;
  border-image: initial !important;
  border-image-slice: initial !important;
  text-decoration-thickness: initial !important;
}

.content figure a[href^="http"]::before { display: none; }

.content a:hover { color: var(--hl-color-2); }

.content span[property="notion"] { border-image: linear-gradient(transparent 40%, yellow 40%); }

.content span[property="years"] { border-image: linear-gradient(transparent 40%, blue 40%); }

.content figure,
.content img { max-width: 100%; }

.content small { font-size: var(--font-size-sm); }

.content em { font-style: italic; }

.content strong { font-weight: bold; }





/* ==========================================================================
footnotes
========================================================================== */


.content .footnote-backref,
.content .footnote-ref {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  background-color: var(--hl-color-2);
  color: white;
  font-size: var(--font-size-xs);
  line-height: 1;
  text-align: center;
  text-indent: 0;
  vertical-align: .20em;
}

.content .footnote-backref:hover,
.content .footnote-ref:hover { background-color: var(--color-5); }

.content sup[id^="fnref:"],
.content li[id^="fn:"] { scroll-margin-top: calc(var(--header-height) + var(--line-height-rem)); }
