/* ==========================================================================
Dropdown
========================================================================== */

.dropdown {
  background-color: var(--color-1);
  box-shadow: -5px 5px 20px 5px var(--hl-color);
  user-select: none;
}

.dropdown__trigger {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-areas: "dropdown__current dropdown__icon";
  grid-auto-flow: row;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  gap: 0px 0px;
}

.dropdown__current { grid-area: dropdown__current; }

/* .dropdown__current, */
/* .dropdown__icon { */

/*   line-height: calc((var(--line-height) * var(--font-size-lg)) - 2px); */
/* } */

.dropdown__icon {
  grid-area: dropdown__icon;
  width: 6rem;
  outline: 1px solid white;
  outline-offset: calc(-.5 * var(--border-width));
  /* background-color: var(--hl-color-2); */
  color: white;
  /* background-color: var(--hl-color-2); */
  /* mix-blend-mode: color-dodge; */
  font-weight: bold;
  font-size: var(--font-size-lg);
  text-align: center;

  /* padding: 0 1em; */
  /* border-radius: 1em; */
  /* background-color: white; */
  /* color: black; */
  /* text-align: right; */
}

.dropdown__icon:hover { background-color: var(--color-5); }

#dropdown__toggle { display: none; }

#dropdown__toggle ~ .overview { display: none; }

#dropdown__toggle:checked ~ .overview { display: block; }
