/* ==========================================================================
fonts
========================================================================== */

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/pcl_urwfonts_antiqueolive-bold-webfont.woff2') format('woff2'), url('../fonts/pcl_urwfonts_antiqueolive-bold-webfont.woff') format('woff');
  font-family: 'Antique Olive';
}

@font-face {
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/pcl_urwfonts_antiqueolive-italic-webfont.woff2') format('woff2'), url('../fonts/pcl_urwfonts_antiqueolive-italic-webfont.woff') format('woff');
  font-family: 'Antique Olive';
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pcl_urwfonts_antiqueolive-regular-webfont.woff2') format('woff2'), url('../fonts/pcl_urwfonts_antiqueolive-regular-webfont.woff') format('woff');
  font-family: 'Antique Olive';
}
