/* ==========================================================================
main header
========================================================================== */

.header {
  background-color: white;
  font-size: var(--font-size-base);
}

.header__title {
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: var(--font-size-md);
}

.header__title a:hover { color: var(--hl-color-2); }





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-rows: var(--header-height);
    grid-template-columns: 50% 50%;
    grid-template-areas: "title menu";
    grid-auto-flow: row;
    /* padding: 1rem; */
    gap: 0px 0px;
  }

  .header__title { grid-area: title; }

  .header__menu { grid-area: menu; }
}
