/* ==========================================================================
helpers
========================================================================== */

.baseline {
  background-image: linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-position: 0 -1px;
  background-size: 100% var(--line-height);
  background-attachment: local;
}
