/* ==========================================================================
Home
========================================================================== */

.home { min-height: calc(100vh - var(--header-height)); }

@media only screen and (min-width: 1024px) {
  .home { width: 50vw; }
}

.home__content { padding: 3rem; }

.content--home { font-size: var(--font-size-md); }

.home__overview {
  padding: 3rem;
  background-color: var(--color-1);
  font-size: var(--font-size-base);
}

.home__overview h2 {
  margin-bottom: var(--line-height-em);
  color: white;
  font-weight: bold;
  font-size: var(--font-size-xl);
  text-align: center;
}
