/* ==========================================================================
invidious
========================================================================== */

.invidious {
  margin-right: auto;
  margin-top: var(--line-height-em);
  margin-bottom: var(--line-height-em);
  margin-left: auto;
}

.invidious a {
  display: inline-block;
  position: relative;
  padding: 0;
  border: none;
}

/* FIXME: clashes whith .content figure a[href^="http"]::before selector */
.invidious > a:before {
  display: block;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
  content: " ";
  mix-blend-mode: multiply;
}

.invidious > a:hover::before { background-color: var(--hl-color-2); }

.invidious > a:after {
  box-sizing: border-box;
  display: block;
  z-index: 999;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-width: 20px 0px 20px 40px;
  border-style: solid;
  border-color: transparent transparent transparent var(--hl-color-2);
  content: " ";
}

.invidious > a:hover::after { border-color: transparent transparent transparent var(--bg-color); }

.invidious img {
  width: 100%;
  max-width: 640px;
  padding: 0;
  vertical-align: top;
  filter: grayscale(100%);
}

.invidious.small img {
  width: 320px;
}

.invidious.float {
  float: right;
  clear: right;
  margin-left: var(--line-height-em);
}

.invidious:last-of-type {
  /* clear: both; */
  /* content: " "; */
  /* display: block; */
}

details:after {
  content: " ";
  display: block;
  clear: both;
}







.invidious figcaption {
  padding-top: .5em;
  padding-left: .5em;
  border-left: 2px solid;
  color: var(--hl-color);
  font-size: var(--font-size-sm);
  hyphens: auto;
}
