/* ==========================================================================
noisy backgrounds
========================================================================== */

.noise::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  content: '';
  mix-blend-mode: hard-light;
  filter: url(/css/noise.svg#noiseFilter);
}

.noisy2 { position: relative; }

.noisy2::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-1);
  content: '';
  mix-blend-mode: hard-light;
  filter: url(/css/noise.svg#noiseFilter);
}

.noisy2__content { position: relative; }
