/* ==========================================================================
overview
========================================================================== */

.overview {
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
  color: var(--bg-color);
  font-size: var(--font-size-md);
  counter-reset: level1 level2 level3 level4 level5;
}

.overview__list { flex-grow: 1; }

.overview__item {
  outline: var(--border-width) solid white;
  outline-offset: calc(-.5 * var(--border-width));
}

.overview__item:not(.overview__item--level1) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6rem 1fr;
  grid-template-areas: "before label";
  grid-auto-flow: row;
  align-content: center;
  align-items: stretch;
  justify-content: start;
  gap: 0px 0px;
}

.overview__item:not(.overview__item--level1)::before {
  grid-area: before;
  padding: 0.6rem;
  outline: var(--border-width) solid white;
  outline-offset: calc(-.5 * var(--border-width));
  text-align: right;
}

.overview__item--level1 {
  font-weight: bold;
  font-size: var(--font-size-md);
}

.overview__item--level2 { font-size: var(--font-size-base); }

.overview__item--level2:before {
  content: counter(level2, upper-roman) ". ";
  counter-increment: level2;
}

.overview__item--level3 { font-weight: normal; }

.overview__item--level3:before {
  content: counter(level3) ". ";
  counter-increment: level3;
}

/* .active { */
/*   background-color: var(--hl-color-2); */
/*   mix-blend-mode: color-dodge; */
/*   color: var(--color-1); */
/* } */

/* .current .overview__link { */
/*   color: var(--color-1); */
/* } */

.overview__wrapper {
  grid-area: label;
  overflow: hidden;
}

.overview__section,
.overview__link {
  display: block;
  padding: 0.6rem 1.2rem;
}

.overview__link { color: var(--hl-color-2); }

.overview__link:hover { color: var(--color-5); }






/* ==========================================================================
overview accordion
========================================================================== */

.overview__input { display: none; }

.overview__input + .overview__section + .overview__list { height: 0; }

.overview__input:checked + .overview__section + .overview__list { height: auto; }

.overview__item--level2 .overview__section::after {
  padding: 0 1em;
  float: right;
  border-radius: 1em;
  background-color: white;
  content: "↦";
  color: black;
  text-align: right;
}

.overview__item--level2 .overview__section { cursor: s-resize; }

.overview__item--level2 .overview__section:hover { color: var(--color-5); }

.overview__item--level2 .overview__input:checked ~ .overview__section { cursor: n-resize; }

.overview__item--level2 .overview__input:checked ~ .overview__section::after { content: "↧"; }





/* ==========================================================================
overview folded
========================================================================== */

.overview--folded .overview__item { height: var(--header-height); }

.overview--folded .overview__link { line-height: calc(var(--font-size-xl) * var(--line-height-em)); }

.overview--folded .overview__link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overview--folded .overview__item::before {
  display: flex;
  align-items: center;
  justify-content: right;
}

.overview--folded .overview__wrapper {
  display: flex;
  align-items: center;
}

.dropdown__icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.dropdown__icon:hover { cursor: s-resize; }
