@media print {
  html,
  body { overflow: auto !important; }

  body { background-color: white !important; }

  .noise::after { display: none; }

  .page__wrapper { height: auto !important; }

  .page__header { display: none !important; }

  .page__footer { display: none !important; }

  .article__header { min-height: auto; }

  .article__block-name { text-decoration-color: initial; }

  .article__title { color: initial; }

  .prompt {
    background-color: white !important;
    height: auto;
    padding-top: var(--line-height-em);
    padding-bottom: var(--line-height-em);
  }

  .headerlink { display: none; }

  .content .footnote-backref,
  .content .footnote-ref { background-color: black; }
}
