/* ==========================================================================
resets
========================================================================== */

a {
  color: inherit;
  text-decoration: none;
}
