.scrollbarClass {
  scrollbar-color: #dfe9eb;
  scrollbar-width: auto;
  /* overflow:scroll; */
}

.scrollbarClass::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbarClass::-webkit-scrollbar-track {
  border-radius: 24px;
  background-color: #adadae;
}

.scrollbarClass::-webkit-scrollbar-track:hover { background-color: #adadae; }

.scrollbarClass::-webkit-scrollbar-track:active { background-color: #adadae; }

.scrollbarClass::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: #0f172a;
}

.scrollbarClass::-webkit-scrollbar-thumb:hover { background-color: #0f172a; }

.scrollbarClass::-webkit-scrollbar-thumb:active { background-color: #0f172a; }
