/* ==========================================================================
imports
========================================================================== */

@import "variables.css";
@import "resets.css";
/* @import "helpers.css"; */
@import "fonts.css";
@import "noise.css";
@import "header.css";
@import "content.css";
@import "dropdown.css";
@import "overview.css";
@import "home.css";
@import "article.css";
@import "invidious.css";
/* @import "scrollbar.css"; */

@import "print.css";





/* ==========================================================================
General
========================================================================== */

:root {
  color: var(--bg-color);
  font-size: 10px;
  font-family: 'Antique Olive', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  color: var(--color-1);
  line-height: var(--line-height);
  font-variant-ligatures: common-ligatures;
}





/* ==========================================================================
layout
========================================================================== */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page__wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.page__header { z-index: 2; }

.page__footer {
  padding: 1rem;
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  .page__header {
    z-index: 2;
    position: sticky;
    top: 0;
  }

  .page__footer { margin-left: 35vw; }
}





/* ==========================================================================
other
========================================================================== */

.content .columns {
  column-width: 20em;
  /* column-rule: solid 2px var(--hl-color); */
  column-gap: 1em;
}

.content .columns ul,
.content .columns ol {
  margin-top: 0;

}
