/* ==========================================================================
variables
========================================================================== */

:root {
  --grid-color: cyan;
  --line-height: 1.15;
  --line-height: 1.55;
  --line-height-em: calc(var(--line-height) * 1em);
  --line-height-rem: calc(var(--line-height) * 1rem);
  /* --fg-color: #455d7a; */
  --fg-color: black;
  --bg-color: #f1f1f0;
  --hl-color: #79878c;
  --hl-color-2: #f95959;
  --color-1: #2a3740;
  --color-2: #79878c;
  --color-3: #f0f2f2;
  --color-4: #d7d9d8;
  --color-5: #ebf21d;
  --font-size-xs: 1rem;
  --font-size-sm: 1.22rem;
  --font-size-base: 1.63rem;
  --font-size-md: 2.17rem;
  --font-size-lg: 2.89rem;
  --font-size-xl: 3.85rem;
  --font-size-xxl: 5.13rem;
  --font-size-xxxl: 6.84rem;
  --border-width: 2px;
  --header-height: calc((1 * (var(--font-size-lg) * var(--line-height))) + 1rem);
  --toc-height: calc((1 * (var(--font-size-base) * var(--line-height))) + 2rem);
}
