<article class="article article--block">
    <div class="article__wrapper">
        <header class="article__header">
            <div>
                <div class="article__nav">
                    <!-- {% if page.previous_page %} -->
                    <!-- <a class="nav-link" href="{{ page.previous_page.url|url }}" title="{{ page.previous_page.title }}">&#8592;</a> -->
                    <!-- {% else %} -->
                    <!-- <span class="nav-link nav-link--hidden">&#8592;</span> -->
                    <!-- {% endif %} -->

                    <span class="article__block-name">Block {{ page.meta.block }}.</span>

                    <!-- {% if page.next_page %} -->
                    <!-- <a class="nav-link" href="{{ page.next_page.url|url }}" title="{{ page.next_page.title }}"/>&#8594;</a> -->
                    <!-- {% else %} -->
                    <!-- <span class="nav-link nav-link--hidden">&#8594;</span> -->
                    <!-- {% endif %} -->
                </div>

                <h1 class="article__title">{{ page.meta.title or page.title }}</h1>
            </div>
        </header>

<!-- {%- for toc_item in page.toc %} -->
<!-- <p>{{ toc_item }}</p> -->
<!-- {%- endfor %} -->

        {% if not page.meta.notoc %}
        <nav class="toc">
            <ul class="toc__list">
                <li class="toc__item"><a href="#introduction" class="toc__link">introduction</a></li>
                <li class="toc__item"><a href="#prep-material" class="toc__link">prep material</a></li>
                <li class="toc__item"><a href="#in-class-exercices" class="toc__link">class exercise</a></li>
                <li class="toc__item"><a href="#deep-dive" class="toc__link">deep dive</a></li>
            </ul>
        </nav>
        {% endif %}

        {% if page.meta and page.meta.prompt is iterable and (page.meta.prompt is not string and page.meta.prompt is not mapping) %}
        <div class="article__prompt prompt">
            <div class="prompt__wrapper">
                <p class="prompt__title">Block prompt</p>
                <ul class="prompt__list">
                    {% for prompt in page.meta.prompt %}
                    <li class="prompt__item">{{ prompt }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="article__body" id="introduction">
            {% if page.meta and page.meta.thumb %}
            <figure class="article__poster">
                <img src="{{ page.meta.thumb }}" alt=""/>
                {% if page.meta.caption %}
                <figcaption>{{ page.meta.caption|default("")|to_markdown }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}
            <div class="article__content content">
                {% block content %}
                {{ page.content }}
                {% endblock %}
            </div>
        </div>
    </div>



</article>
