<div class="dropdown noisy2">
    <div class="noisy2__content">
        <div class="dropdown__trigger">
            <div class="dropdown__current">
                {% include "partials/overview__folded.html" %}
            </div>
            <label class="dropdown__icon" for="dropdown__toggle">
                ↧
            </label> 
        </div>
        <input id="dropdown__toggle" type="checkbox"{% if page.is_homepage %} checked{% endif %}/>
        {% include "partials/overview.html" %}
    </div>
</div>

