<div class="header">
    <h1 class="header__title"><a href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a></h1>
    
    <div class="header__menu">
        {% include "partials/dropdown.html" %}
    </div>
</div>
