<nav class="overview overview--folded">
    <ol class="overview__list">
        {% for nav_item in nav %}
        {% with depth=1 %}
        {% set loop_index = loop.index %}
        {% include "partials/overview__folded_nav.html" %}
        {% endwith %}
        {% endfor %}
    </ol>
</nav>
