<li class="overview__item overview__item--level{{depth}}{% if nav_item.url == page.url %} current{% endif %}{% if nav_item.active %} active{% endif %}">
    <div class="overview__wrapper">
        {% if nav_item.url or nav_item.is_homepage %}
            <a href="{{ nav_item.url|url }}" class="overview__link">{{ nav_item.title }}</h1></a>
        {% else %}
            {% if depth>=2 %}
            <input type="radio" name="accordion-{{depth}}" id="section-{{depth}}-{{loop_index}}" class="overview__input"{% if nav_item.active and depth>=1 %} checked{% endif %}>
            {% endif %}
            <label class="overview__section" for="section-{{depth}}-{{loop_index}}">{{ nav_item.title }}</label>
        {% endif %}

        {% if nav_item.children %}
        <ol class="overview__list overview__list--sub">
            {% for nav_item in nav_item.children %}
                {% with depth=depth + 1 %}
                    {% set loop_index = loop.index %}
                    {% include "partials/overview__nav.html" %}
                {% endwith %}
            {% endfor %}
        </ol>
        {%- endif %}
    </div>
</li>
