{% if nav_item.active %}
<li class="overview__item overview__item--level{{depth}}{% if nav_item.url == page.url %} current{% endif %}{% if nav_item.active %} active{% endif %}" style="counter-reset: level{{depth}} {{loop_index - 1}};">
    <div class="overview__wrapper">
        {% if nav_item.url or nav_item.is_homepage %}
            <span class="overview__link">{{ nav_item.title }}</span>
        {% endif %}

        {% if nav_item.children %}
        <ol class="overview__list overview__list--sub">
            {% for nav_item in nav_item.children %}
                {% with depth=depth + 1 %}
                    {% set loop_index = loop.index %}
                    {% include "partials/overview__folded_nav.html" %}
                {% endwith %}
            {% endfor %}
        </ol>
        {%- endif %}
    </div>
</li>
{% endif %}
